main {
    justify-content: flex-start;
    row-gap: 2px;
}

@media (max-height: 890px), (max-width: 1000px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}