body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 85px;
}

main {
    flex: 1 calc(100vh - 115px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    flex: 0 30px;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}