main {
    flex-direction: row;
}

#top-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#current-credits {
    flex: 1;
}

#game {
    flex: 2;
}

#leaderboard {
    flex: 1
}

table {
    width: 100px;
    margin: 20px;
    border: 2px solid #ccc;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0;
    color: #333;
    overflow: hidden;
}

td {
    padding: 6px 12px;
    border-bottom: 1px solid #ddd
}

tr:last-child td {
    border-bottom: none;
}