.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    height: 70%;
    max-width: 400px;
    width: 100%;
}

h1 {
    align-self: center;
}

.loggedIn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loginControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonOutline {
    display: inline-flex;
    height: 30px;
    justify-content: center;
    margin: 10px;
}

.loginEnter {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    outline: none;
    padding: 8px 4px;
    font-size: 16px;
    color: #F2F2F2;
    width: 100%;
}

.loginEnter:focus {
    background-color: #1F2421;
    color: #F2F2F2;
}

@media (max-width: 1000px) {
    :global(body) {
        overflow: scroll;
    }
}