.main {
    flex-direction: row;
    flex: 1;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.leaderboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    height: 60%;
    width: 100%;
}

.currentCredits {
    width: 100%;
    display: flex;
    justify-content: center;
}

.playerCredits {
    width: 100%;
    text-align: center;
}

.game {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: flex-start;
    height: 95%;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 130px;
}

@keyframes deal {
    0%  {
        transform: translateY(-37.5vh) scale(0.75);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.dealingCard {
    animation: deal 0.5s ease-out forwards;
}

.playingCard {
    height: 120px;
    width: 80px;
    background-color: #9cc5a1;
    border: 2px solid #49a078;
    border-radius: 5px;
    color: #216869;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    transition: transform 0.3s ease;
}

.cornerTop, .cornerBottom {
    position: absolute;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1rem;
}

.cornerTop {
    top: 5px;
    left: 5px;
}

.cornerBottom {
    bottom: 5px;
    right: 5px;
    transform: rotate(180deg);
}

.centerValue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}

.table {
    width: 100px;
    margin: 20px;
    border: 2px solid #9cc5a1;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0;
    overflow: hidden;
}

.gameState {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    height: 60%;
    width: 100%;
}

td {
    padding: 6px 12px;
    border-bottom: 1px solid #ddd;
}

tr:last-child td {
    border-bottom: none;
}

@media (max-width: 1000px) {
    .main {
        overflow: scroll;
        flex-direction: column;
        margin: 5px;
    }

    .leaderboard {
        align-self: center;
    }

    .game {
        align-self: center;
    }

    .gameStateS {
        margin-bottom: 30vh;
        align-self: center;
    }
}