main {
    justify-content: flex-start;
    row-gap: 2px;
    overflow: scroll;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

@media (max-width: 1000px) {
    main {
        margin: 5px;
    }
    #disclaimer {
        margin-bottom: 30vh;
    }
}